@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --clr-foreground: 57, 61, 70;
  --clr-background: 255, 255, 255;
  --clr-primary: 247, 218, 59;
  --clr-secondary: 57, 61, 70;
  --clr-secondary-300: 205, 207, 209;
  --clr-secondary-100: 246, 247, 251;

  --ff: 'Poppins', sans-serif;

  --container-max-width: 1400px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-foreground: 255, 255, 255;
    --clr-background: 57, 61, 70;
  }
}

html {
  font-size: 12px;
}

body {
  color: rgb(var(--clr-foreground));
  background: rgb(var(--clr-background));
  font-family: var(--ff);
  // padding-top: 4.5625rem;
}

main {
  padding-top: 3.5625rem;
}


.h-100 {
  height: 100%;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.j-center {
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.g-05 {
  gap: 0.5rem;
}

.p-2 {
  padding: 2rem;
}

.my-1 {
  margin-block: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

section {
  margin-bottom: 2rem;
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding-inline: 2rem;
  &.p0 {
    padding-inline: 0;
  }
}

.wrapper {
  width: 100%;
  margin-inline: 1.5rem;
}

.h1 {
  font-weight: bold;
  font-size: 2rem;
}

.h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

.h3 {
  font-weight: 400;
  font-size: 1.5rem;
}

.body {
  font-weight: 400;
  font-size: 1rem;
}

.body2 {
  font-weight: 500;
  font-size: 1rem;
}

.small {
  font-size: 0.8rem;
}

.tac {
  text-align: center;
}

.empty {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.loader {
  color: #3447F6;
  font-size: 2rem;
  display: block;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;

  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
  }
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
    -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
     -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
     -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
     -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
     -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
    0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(var(--clr-background), 0.8);
  backdrop-filter: blur(10px);
  z-index: 3;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(var(--clr-secondary-100));
  padding: 0.5rem 0;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
  .option {
    padding: 0.5rem;
    transition: 0.2s ease;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: rgb(var(--clr-secondary-100));
    }
  }
}

.languageOption {
  color: rgb(var(--clr-secondary-300));
  &.active {
    color: rgb(var(--clr-secondary));
  }
}

.hero {
  width: 100%;
  background-color: rgb(var(--clr-secondary-100));
}

.hero-wrapper {
  width: 100%;
  padding-block: 2rem;
  position: relative;
}

.swiper-wrapper {
  margin-left: 1.5rem;
}

.swiper-slide {
  padding-inline: 1.5rem;
  aspect-ratio: 1920 / 720;
  min-height: 60vh;
  isolation: isolate;
  color: rgb(var(--clr-background));
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 3rem);
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: -1;
  }
  img, picture {
    z-index: -1;
    object-fit: cover;
    width: calc(100% - 3rem) !important;
    height: auto;
    aspect-ratio: 1920 / 720;
  }
  span {
    width: 50%;
  }
}
.swiper-pagination {
  --swiper-pagination-bullet-inactive-color: rgb(var(--clr-background));
  --swiper-pagination-color: rgb(var(--clr-primary));
  --swiper-pagination-bullet-inactive-opacity: 1;
}
.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(var(--clr-background));
  z-index: 2;
  transition: 0.2s ease;
  &.blocked {
    pointer-events: none;
    cursor: default;
    background-color: rgb(var(--clr-secondary-300));
    path {
      fill: rgba(var(--clr-secondary-100), 0.5);
    }
  }
  &:hover {
    background-color: rgb(var(--clr-primary));
  }
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
  svg {
    transform: rotate(180deg);
  }
}

button {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0.2rem 1.5rem;
  background-color: rgb(var(--clr-primary));
  border: 1px solid rgb(var(--clr-primary));
  color: rgb(var(--clr-background));
  transition: 0.2s ease;
  svg, path {
    fill: rgb(var(--clr-background));
    stroke: rgb(var(--clr-background));
  }
  svg {
    width: 2rem;
    height: 2rem;
  }
  &:hover {
    filter: brightness(0.9);
  }
}

.badge {
  width: fit-content;
  padding: 0.4rem 1rem;
  background-color: rgb(var(--clr-background));
  color: rgb(var(--clr-foreground));
}

.card {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  position: relative;
  background-color: rgb(var(--clr-background));
  &.shadow {
    box-shadow: 10px 10px 20px rgba(var(--clr-foreground), 0.2);
  }
  &-image-holder {
    position: relative;
    width: 245px;
    aspect-ratio: 1;
    img, picture {
      object-fit: cover;
    }
  }
}

.discount {
  position: absolute;
  top: 1rem;
  right: 0;
  background-color: rgb(var(--clr-primary));
  color: rgb(var(--clr-background));
  padding: 0.2rem 1rem;
}

.interesting {
  isolation: isolate;
  display: flex;
  .block {
    padding: 1.5rem;
    padding-right: 3.2rem;
    width: calc(245px + 1.5rem + 3rem);
    background-color: rgb(var(--clr-secondary));
    color: rgb(var(--clr-background));
    z-index: -1;
  }
  &-cards {
    position: relative;
    left: -3rem;
  }
}


@media screen and (min-width: 960px) { // Tablet
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1300px) { // Laptop
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) { // Large screen
  html {
    font-size: 18px;
  }
}